<p><b>Živjo {{name}}!</b></p>
<p>Ker še nisi potrdil svojega e-poštnega naslova, ti ponovno pošiljamo to
  sporočilo.</p>
<p>Da potrdiš svoj e-poštni naslov, klikni ta to povezavo:</p>
<a href={{url}}>{{url}}</a>